body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-title h1 {
  margin: 0;
  font-size: 24px;
  color: #f4f4f4;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: #ff6600;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-title h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }

}

